<footer class="footer">
    <div class="info">
        <h4>Informations</h4>
        <ul>
            <li><a class="text-light" href="#">Contactez-nous</a></li>
            <li><a class="text-light" href="{{ path('legal_notice') }}">Mention légales</a></li>
        </ul>
    </div>

    {# utilisation de bootstrap avec la Font Awesome pour les icones #}
    <div class="info">
        <h4>La galerie</h4>
        <ul>
            <li><div class="icon text-center"><i class="fa fa-map-marker text-muted"></i></div> LaPiscine, 588 Cours de la Libération, 33400 Talence</li>
            <li><div class="icon text-center"><i class="fa fa-map-marker text-muted"></i></div> <a class="text-light" href="https://www.google.fr/maps/place/La+Piscine/@44.7994294,-0.5996293,17z/data=!3m1!4b1!4m5!3m4!1s0xd552845733eb33f:0x2bf918c8dee4ccff!8m2!3d44.7994294!4d-0.5974406" target="_blank">Plan d'accès</a></li>
            <li><div class="icon text-center"><i class="fa fa-phone text-muted"></i></div> +33 (0)5 35 54 95 07</li>
            <li><div class="icon text-center"><i class="fa fa-envelope-o text-muted"></i></div> contact@lapiscine.pro</li>
            <li><div class="icon text-center"><i class="fa fa-clock-o text-muted"></i></div> Horaires 11h-13h et 14h-19h du mardi au samedi</li>
        </ul>
    </div>
    <div>
        <div class="info">
            <h4>Lettre d'informations</h4>
            <form action="" method="post">
                <input type="text" placeholder="Saisissez votre adresse e-mail">
                <input type="submit" value="Valider">
            </form>
        </div>
        <br>
        <div class="info">
            <h4>Nous suivre</h4>
            <ul class="social">
                <li><a href="#"><i class="fa fa-facebook-f text-light"></i><span class="social_link">facebook</span></a></li>
                <li><a href="#"><i class="fa fa-twitter text-light"></i><span class="social_link">twitter</span></a></li>
                <li><a href="#"><i class="fa fa-google-plus text-light"></i><span class="social_link">google+</span></a></li>
            </ul>
        </div>
    </div>

</footer>

