{% extends 'base.html.twig' %}

{% block content %}
    {% include('site/_carousel.html.twig') %}

    {# Texte de présentation #}
    <div class="home"><span>La galerie vous accueille de 11h à 13h et de 15h à 19h du mardi au samedi.</span><br><br>
        Depuis sa création, la Galerie LaPiscine à toujours défendu une ligne artistique exigeante et cohérente : Dans une démarche de recherche et de compréhension des évolutions des mouvements artistiques actuels, dans une réflexions attentive aux idées novatrices enfin, grâce à une direction artistique collégiale. La galerie propose des expositions temporaires d’artistes internationaux et de jeunes plasticiens.
    </div>
{% endblock %}

{% block js %}
    {# js pour slider bootstrap #}


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}