{% extends 'base.html.twig' %}

{% block content %}
    {% include('site/_carousel.html.twig') %}

    {# Texte de présentation #}
    <div class="home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam atque consequatur debitis doloribus hic incidunt non, officiis omnis placeat praesentium provident ratione reiciendis rem similique voluptates. Nisi, sequi.</div>
{% endblock %}