{% extends 'base.html.twig' %}

{% block content %}
    <section class="list_content">
        <h1>Liste des artistes</h1>
        <div class="list_artists">
            {# liste les éléments du array artists #}
            {% for artist in artists %}
                <article class="work_article">
                    <a href="{{ path('card_artist', {'id':artist.id}) }}">
                        <h3>{{ artist.name }}</h3>
                        <div class="image_work">
                            {# affiche l'image du 1er élément du tableau works de l'artiste
                            ## slice(start, length) #}
                            {% for work in artist.works|slice(0,1) %}
                               <img src="{{ asset('assets/uploads/works/' ~ work.image) }}" alt="photo">
                            {% endfor %}
                        </div>
                    </a>
                    <br>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
