<header id="header">
    <div class="logo">
        <span>Galerie LaPiscine</span>
    </div>
    <div class="header_link"><a class="text-light" href="{{ path('home_page') }}">Accès au site</a></div>
    <div class="menu_burger">
        <div class="burger_line"></div>
        <div class="burger_line"></div>
        <div class="burger_line"></div>
    </div>
</header>