<header class="header">
    <div class="logo">
        <img class="resp" src="" alt="logo">
    </div>
    <div class="menu_burger">
        <div class="burger_line"></div>
        <div class="burger_line"></div>
        <div class="burger_line"></div>
    </div>
    <nav class="nav">
        <ul class="header_nav_ul">
            <li><a class="header_link" href="{{ path('admin_home') }}">Accueil</a></li>
            <li><a class="header_link" href="{{ path('list_works') }}">Oeuvres</a></li>
            <li><a class="header_link" href="{{ path('list_artists') }}">Artistes</a></li>
            <li><a class="header_link" href="{{ path('list_categories') }}">Catégories</a></li>
        </ul>
    </nav>
</header>