<nav class="nav">
    <ul class="nav_ul">
        <li><a class="nav_link" href="{{ path('admin_home') }}">Accueil</a></li>
        <li><a class="nav_link" href="{{ path('list_works') }}">Oeuvres</a></li>
        <li><a class="nav_link" href="{{ path('list_artists') }}">Artistes</a></li>
        <li><a class="nav_link" href="{{ path('list_categories') }}">Catégories</a></li>
    </ul>
</nav>