/* Page exposition */

#myGallery{
  visibility: hidden;
  text-align: center;
  width: 70%;
  height: 400px;
  margin: 40px auto;
}

@media screen and(max-width: 480px){
  #myGallery{
    width: 90%;
    height: 200px;
  }
}