/*** Footer ***/

.footer {
  background-color: $bg_base;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0 20px;
  width: 100%;
}
/* div pour chaque rubrique */
.info {
  color: #FFFFFF;
}
.info h4 {
  text-align: center;
  margin-bottom: 15px;
}
.info ul {
  list-style-type: none;
  padding-left: 0;
}
.info li {
  font-size: 14px;
  margin-bottom: 6px;
  display: flex;
}
/* div contenant les icones d'info sur la galerie */
.icon {
  width: 24px;
  display: block;
}

.social {
  display: flex;
  justify-content: space-around;
}
.social_link {
  display: none;
}
.social i {
  font-size: 1.5em;
}