* {
  box-sizing: border-box;
}
@import url(_header_admin.scss);
#content{
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.home{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto;
}
.home_action{
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #e00000;
  color: #FFFFFF;
  padding-top: 10px;
}
.home_link{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}
.home_link:hover{
  color: #FFFFFF;
  font-size: 24px;
  text-decoration: none;
}
.nav{
  background-color: #f0eb85;
  width: 250px;
  margin-top: 94px;
}
.nav_ul{
  list-style: none;
  margin: 15px 0;
  padding: 0 15px;
}
.nav_link{
  color: #000;
  font-size: 16px;
}
.nav_link:hover{
  color: #000;
  text-decoration: underline;
}

.form_section{
  width: 80%;
}
.form_block{
  border: 1px solid #ced4da;
  padding: 20px 10px;
  margin-top: 60px;
}
.list_content{
  width: 100%;
  position: relative;
}
.list_table{
   width: 100%;
   margin-top: 60px;
 }
.list_title{
  text-align: center;
}
.btn_new{
  margin-top: 10px;
  position: absolute;
  right: 0;
}
.pagination{
  justify-content: end;
}
.pagination span{
  margin-left: 5px;
}
.pagination span a{

}
.message{
  position: absolute;
  top: 200px;
  left: 50%;
  z-index: 10;
}