body {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box; }

h1 {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 60px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 20px;
  color: #e00000;
  margin: 15px 0 5px; }

h4 {
  color: #e00000;
  font-size: 22px; }

a:hover {
  color: inherit;
  text-decoration: none; }

/*** Header ***/
.header {
  width: 100%;
  height: 150px;
  background-color: #212529;
  padding-top: 8px;
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  width: 300px;
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 52px;
  font-style: italic;
  color: #FFFFFF; }

.nav {
  width: 30%;
  margin-right: 5%; }

.header_nav_ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  padding: 0 15px; }

.header_link {
  color: #fff;
  font-size: 17px; }

.header_link:hover {
  color: #FFFFFF;
  text-decoration: underline; }

.menu_burger {
  width: 30px;
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer; }

.menu_artists {
  position: relative; }

.menu_categories {
  /*display:none;*/
  position: absolute;
  top: 30px;
  left: -15px;
  z-index: 10;
  list-style: none;
  padding: 5px 10px 5px 15px;
  background-color: #fff; }

.menu_categories a {
  color: #212529; }

.menu_categories a:hover {
  text-decoration: underline; }

.burger_line {
  width: 100%;
  height: 3px;
  background-color: white;
  margin-bottom: 6px; }

@media screen and (max-width: 640px) {
  .logo {
    width: 55%; }

  .nav {
    display: none; }

  .header_nav_ul {
    flex-direction: column;
    line-height: 170%; }

  .menu_burger {
    display: block; }

  .menu_burger:hover + .nav {
    display: block; }

  .nav:hover {
    display: block; } }
#carouselHome {
  width: 100%;
  height: 400px;
  background-color: gray;
  overflow: hidden; }

#carouselHome img {
  width: 100%;
  margin-top: -15%; }

.home {
  width: 60%;
  margin: 50px auto; }

.list_content {
  width: 60%;
  margin: 0 auto; }

.card_artist, .works_artist, .list_artists, .card_work {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.card_work {
  width: 50%;
  justify-content: left; }

.list_artists {
  width: 100%; }

.card_artist {
  width: 50%;
  margin-bottom: 150px; }

.work_article {
  text-align: center;
  margin-bottom: 40px; }

.info_artist {
  width: 70%; }

.info_work i {
  font-size: 1.6em; }

.info_work a {
  color: #666666; }

.info_work a:hover {
  color: #e00000; }

.image_artist {
  width: 220px;
  height: 220px;
  overflow: hidden;
  position: relative;
  border-radius: 50%; }

.image_work {
  width: 320px;
  height: 320px;
  overflow: hidden;
  position: relative; }

.image_card_work {
  width: 460px;
  height: 460px;
  overflow: hidden;
  position: relative; }

.image_artist img, .image_work img {
  height: 100%;
  /* centre l'image dans la div qui est plus petite */
  position: absolute;
  margin: auto;
  top: -600px;
  left: -600px;
  right: -600px;
  bottom: -600px; }

.image_card_work img {
  max-width: 100%;
  max-height: 100%;
  /* centre l'image dans la div qui est plus petite */
  position: absolute;
  margin: auto;
  top: -600px;
  left: -600px;
  right: -600px;
  bottom: -600px; }

.lien_contact {
  padding: 8px;
  border: 1px solid #dedede; }

.lien_contact:hover, .lien_contact:hover a {
  background-color: #666666;
  color: #FFFFFF;
  cursor: pointer; }

/* Page exposition */
#myGallery {
  visibility: hidden;
  text-align: center;
  width: 60%;
  height: 400px;
  margin: 40px auto; }

.legal_notice {
  width: 70%;
  margin: 0 auto; }

/*** Contact ***/
.form_contact {
  width: 40%;
  margin: 0 auto; }

@media screen and (max-width: 560px) {
  .form_contact {
    width: 80%; } }
/*** Footer ***/
.footer {
  background-color: #212529;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0 20px;
  width: 100%; }

/* div pour chaque rubrique */
.info {
  color: #FFFFFF; }

.info h4 {
  text-align: center;
  margin-bottom: 15px; }

.info ul {
  list-style-type: none;
  padding-left: 0; }

.info li {
  font-size: 14px;
  margin-bottom: 6px;
  display: flex; }

/* div contenant les icones d'info sur la galerie */
.icon {
  width: 24px;
  display: block; }

.social {
  display: flex;
  justify-content: space-around; }

.social_link {
  display: none; }

.social i {
  font-size: 1.5em; }

/*# sourceMappingURL=main.css.map */
